@import './forms';

html,
body {
  height: 100%;
}

.text-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.fas {
  margin: 20px;
}
